.custom-cursor {
    position: fixed;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease;
    z-index: 999999998;
    background-color: white;
    mix-blend-mode: difference;
    border: 0.1rem solid black;
}

.custom-cursor.large {
    width: 1.5rem;
    height: 1.5rem;
}
