.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.wrapper-intro {
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.block-intro {
    width: 42rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.205);    
}

.block-intro h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.6rem;
}

.block-intro p {
    letter-spacing: 0.2rem;
}

.block-vid {
    z-index: -9999;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* MOVERLO DESPUES A VIDEO CARROUSEL */
.block-vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ------------------------------------------*/

.wrapper-tec {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MOVERLO DESPUES A PIXEL */
.line-transition {
    width: 100%;
    height: 20%;
    background-color: rgb(32, 22, 126);
}

.container-lines {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}