.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.wrapper-intro {
    position: sticky;
    top: 0;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}


.block-intro {
    width: 42rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.205);    
}

.block-intro h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.6rem;
}

.block-intro p {
    letter-spacing: 0.2rem;
}

.block-vid {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.block-vid::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438);
}

/* MOVERLO DESPUES A VIDEO CARROUSEL */
.block-vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ------------------------------------------*/

.content-slide {
    z-index: 10000;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
}

.slide {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.space-slide {
    z-index: -10;
    position: relative;
    width: 100%;
    height: 200vh;
    display: flex;
    background-color: saddlebrown;
}

.space-slide-2 {
    z-index: -10;
    position: relative;
    width: 100%;
    height: 200vh;
    display: flex;
    background-color: saddlebrown;
}

/* ------------------------------------------*/